/** {
  border: 1px solid red;
  box-sizing: border-box;
}
*/
html, body  {
  background: black;
  background-color: black !important;
}

.show {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out, top 2s;
  transition: opacity 2s ease-in-out, top 2s;
}

#nav.show {
  position: fixed;
  z-index: 99;
  width: 100%;
}

#body {
  margin-top: -80px;
}

.hide { 
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, top 2s;
  transition: opacity 2s ease-in-out, top 2s;
}

#nav {
  background-color: black;
  background-image: url(images/slowdown.png);
  background-repeat: no-repeat;
  background-position: center; 
  height: 75px;
  width: 100%;
  border-bottom: #f0eb6d solid 3px
}

.navbar-default {
  background-color: black;
}

.fixed {
  position: fixed;
  z-index: 99;
}

#hero-image { 
  background-image: url(images/easytiger-fade.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 770px;
}

.dotfix{
  margin-left: -4px;
}
.section-header {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center; 
  height: 75px;
  width: 100%;
  border-top: #f0eb6d solid 3px;
  border-bottom: #f0eb6d solid 3px;
  margin: 20px 0;
}
#atmos {
  background-image: url(images/atmosphere2.png);
  background-size: 220px;
}

#food {
  background-image: url(images/food.png);
  background-size: 220px;
}

.col-lg-12 {
  padding: 0;
}
.orange  {
  color: #f36d51 !important;
}

.center-img {
  text-align: center;
}

.images {
  margin: 15px;
  text-align: center;
}

.images img {
  max-height: 375px;
}

.margin {
  margin: 0 15px;
}

.margin-footer {
  margin: 0 30px;
}

#footer {
  border-top: #f0eb6d solid 3px;
  margin: 20px 0;
  padding-top: 20px;
}